.topo{
    background-color: red;
    height: 80px;
    font-size: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.meio{
	 background-color: black;
    height: 90vh;
    font-size: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}